/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.EnterActivationCodeModal {
    &_description {
        margin-bottom: var(--m-m);
    }

    &_inputContainer {
        margin-bottom: var(--m-m);
        text-align: left;
    }

    &_input {
        margin-bottom: var(--m-xxs);
    }
}