/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.UpdateInfo {
    color: var(--text-links-attention-link-default);
    font-size: 14px;
    line-height: 18px;
    text-align: right;
    margin-left: auto;

    &_applyUpdates {
        text-decoration: underline;
        cursor: pointer;
    }

    &_saved {
        color: var(--text-placeholder-placeholder-default);
    }
}