/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.ContactSupportLink {
    display: inline;
    text-decoration: underline;
    color: inherit;

    &:hover {
        text-decoration: none;
    }
}
