// SPDX-FileCopyrightText: AdGuard Software Limited
//
// SPDX-License-Identifier: GPL-3.0-or-later

//
//  MainConfig.xcconfig
//  AdguardMini
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

SLASH = /

//============= Generation Settings =============

// Private prefix is AGP_
AGP_PUBLIC_CONFIG_CONSTANTS_PREFIX = AG_

//============= Development Settings ============

#include "../../adguard-mini-private/configuration/Config.xcconfig"
#include "../../adguard-mini-private/configuration/PrivateConfig.xcconfig"

//=========== Global Product Settings ===========

AG_DEPLOYMENT_TARGET = 12

AG_MAJOR_VERSION = 2
AG_MINOR_VERSION = 1
AG_PATCH_VERSION = 0
AG_BUILD = 966
AG_VERSION = $(AG_MAJOR_VERSION).$(AG_MINOR_VERSION).$(AG_PATCH_VERSION)

AG_CHANNEL =
AG_V_CHANNEL = $() $(AG_CHANNEL)
AG_FULL_VERSION = $(AG_VERSION).$(AG_BUILD)$(AG_V_CHANNEL)
AG_REPORTED_VERSION = $(AG_VERSION) $(AG_CHANNEL) ($(AG_BUILD))
AG_DISPLAYED_VERSION = $(AG_VERSION).$(AG_BUILD)
AG_MARKETING_VERSION = $(AG_VERSION)

AG_COMPANY = $(CONFIG_COMPANY)
AG_TEAM = $(CONFIG_TEAM)
AG_APP_ID = $(CONFIG_APP_ID)
AG_GROUP = $(CONFIG_GROUP)
AG_MAC_GROUP = $(CONFIG_MAC_GROUP)

AG_PRODUCT_NAME = AdGuard Mini
AG_APP_DISPLAYED_NAME = AdGuard Mini

AG_COPYRIGHT = Copyright © 2009-2025 AdGuard Software Limited. All rights reserved.
AGP_SPDX_LICENSE = GPL-3.0-or-later

//============ Additional bundle IDs ============

AGP_BASE_BLOCKER_BUNDLEID = $(AG_APP_ID).Blocker

AG_WEB_EXTENSION_BUNDLEID = $(AG_APP_ID).WebExtension
AG_POPUP_EXTENSION_BUNDLEID = $(AG_APP_ID).Extension
AG_BLOCKER_GENERAL_BUNDLEID = $(AGP_BASE_BLOCKER_BUNDLEID)Extension
AG_BLOCKER_PRIVACY_BUNDLEID = $(AGP_BASE_BLOCKER_BUNDLEID)Privacy
AG_BLOCKER_SECURITY_BUNDLEID = $(AGP_BASE_BLOCKER_BUNDLEID)Security
AG_BLOCKER_SOCIAL_BUNDLEID = $(AGP_BASE_BLOCKER_BUNDLEID)Social
AG_BLOCKER_OTHER_BUNDLEID = $(AGP_BASE_BLOCKER_BUNDLEID)Other
AG_BLOCKER_CUSTOM_BUNDLEID = $(AGP_BASE_BLOCKER_BUNDLEID)Custom

AG_WATCHDOG_PRODUCT_NAME = watchdog
AG_WATCHDOG_ID = $(AG_APP_ID).$(AG_WATCHDOG_PRODUCT_NAME)

//========= Helper/XPCGate Configuration ========

AG_HELPER_ID = $(AG_TEAM).$(AG_APP_ID).Helper
AG_HELPER_NAME = $(AG_HELPER_ID)
AG_HELPER_SHORT_VERSION = $(AG_VERSION)
AG_HELPER_VERSION = $(AG_VERSION).$(AG_BUILD)

AGP_TESTFILGHT_CERT = TestFlight Beta Distribution
AGP_MAS_CERT = Apple Mac OS Application Signing

AGP_TESTFLIGHT_CERT_REQ = certificate leaf[subject.CN] = "$(AGP_TESTFILGHT_CERT)"
AGP_MAS_CERT_REQ = certificate leaf[subject.CN] = "$(AGP_MAS_CERT)"

//============== Custom URL schemes =============

AGP_URL_ADGUARD_MINI_SCHEME_ID = $(AG_APP_ID).events.url
AG_URL_ADGUARD_MINI_SCHEME = adguardmini

AGP_INTERNAL_URL_SCHEME_ID = $(AG_APP_ID).internal.url
AG_INTERNAL_URL_SCHEME = agminiInternal

//============ Private Configuration ============

AGP_GENERATED_FILES_DIR = $(BUILT_PRODUCTS_DIR)/Autogenerated
AGP_PREPARED_RESOURCES_DIR = $(BUILT_PRODUCTS_DIR)/Prepared resources

AGP_CONFIG_CONSTANTS_CONTAINER_NAME = BuildConfig
AGP_CONFIG_CONSTANTS_FILE = $(AGP_GENERATED_FILES_DIR)/$(AGP_CONFIG_CONSTANTS_CONTAINER_NAME).swift

AGP_GENERATED_USER_DEFAULTS_FILE = $(AGP_GENERATED_FILES_DIR)/UserDefaults.swift
AGP_GENERATED_THIRD_PARTY_DEPS_FILE = $(AGP_GENERATED_FILES_DIR)/ThirdPartyDeps.swift

AGP_SENSITIVE_CONFIG_CONSTANTS_CONTAINER_NAME = SensitiveBuildConfig
AGP_SENSITIVE_CONFIG_CONSTANTS_FILE = $(AGP_GENERATED_FILES_DIR)/$(AGP_SENSITIVE_CONFIG_CONSTANTS_CONTAINER_NAME).swift

AGP_ADVANCED_SCRIPT_NAME = advanced-script.js
AGP_ADVANCED_SCRIPT_FILE = $(AGP_GENERATED_FILES_DIR)/$(AGP_ADVANCED_SCRIPT_NAME)

//============= Private Local Paths =============

AGP_SCRIPTS_PATH = $(SRCROOT)/Scripts
AGP_DEFAULTS_PLIST_PATH = $(SRCROOT)/AdguardMini/Resources/Defaults.plist
AGP_PACKAGE_RESOLVED_PATH = $(SRCROOT)/AdguardMini.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved

//=============== Keys and Tokens ===============

SENS_REQUEST_ENCRYPTION_KEY = $(CONFIG_BACKEND_REQUEST_ENCRYPTION_KEY)
SENS_BACKEND_REQUEST_KEY = $(CONFIG_BACKEND_REQUEST_KEY)

SENS_LICENSE_ENCRYPTION_KEY = $(CONFIG_MAC_MINI_LICENSE_ENCRYPTION_KEY)

//============ Backend Configuration ============

SENS_SENTRY_DSN = $(CONFIG_SENTRY_DSN_MAC_MINI)

//=================== Signing ===================

// SHA-1 hash of the specific "Apple Distribution" certificate
// You need to set it exactly, so that there is no conflict
// with similar certificates of other projects
AGP_MAS_SIGN = DFC0B6A35AA0139613D5EB826022D6CA79B3DB33

//================== Resources ==================

AG_DEFAULT_FILTERSDB_DIRNAME = filtersdb
// Value from filter-list-manager/crates/filter-list-manager/src/storage/mod.rs
AG_STANDARD_FILTERS_DATABASE_FILENAME = agflm_standard.db

//=================== Export ====================

AG_EXCHANGE_SETTINGS_FILE_DESCRIPTION = AdGuard Mini Settings Exchange Format
AG_EXCHANGE_SETTINGS_FILE_CONFORMS_TO = public.zip-archive
AG_EXCHANGE_SETTINGS_FILE_EXTENSION = adguardminisettings
AG_EXCHANGE_SETTINGS_FILE_ICON_TEXT = settings
AG_EXCHANGE_SETTINGS_FILE_ICON_NAME = AppIcon
AG_EXCHANGE_SETTINGS_FILE_ID = $(AG_APP_ID).settings

//=== Preprocessor and Compilation conditions ===

ADGUARD_DISTRIBUTION_TYPE = STANDALONE
ADGUARD_GCC_PREPROCESSOR_DEFINITIONS = $(inherited) $(ADGUARD_DISTRIBUTION_TYPE)
GCC_PREPROCESSOR_DEFINITIONS = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS)
SWIFT_ACTIVE_COMPILATION_CONDITIONS[sdk=*][arch=*] = $(GCC_PREPROCESSOR_DEFINITIONS)
