// SPDX-FileCopyrightText: AdGuard Software Limited
//
// SPDX-License-Identifier: GPL-3.0-or-later

//
//  ConfigNative.xcconfig
//  AdguardMini
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "./CommonConfig.xcconfig"

AG_APP_ID[config=Debug] = $(AG_APP_ID).debug

ADGUARD_UPDATE_BASE_URL = https:$(SLASH)/static.adtidy.org/macmini
ADGUARD_APP_CAST_URL = $(ADGUARD_UPDATE_BASE_URL)/$(AG_CHANNEL)/adguard-mini-appcast.xml

AG_CHANNEL[config=Debug] = debug
AG_CHANNEL[config=Nightly] = nightly
AG_CHANNEL[config=Beta] = beta
AG_CHANNEL[config=Release] = release

AG_MARKETING_VERSION = $(AG_FULL_VERSION)
AG_ALTERNATE_UPDATE_DOMAIN = static.adtidy.info

AG_V_CHANNEL[config=Release] =

AG_HELPER_REQ = anchor apple generic and certificate leaf[subject.OU] = "$(AG_TEAM)"

GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) DEBUG
GCC_PREPROCESSOR_DEFINITIONS[config=Nightly] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) NIGHTLY NDEBUG
GCC_PREPROCESSOR_DEFINITIONS[config=Beta] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) BETA NDEBUG
GCC_PREPROCESSOR_DEFINITIONS[config=Release] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) RELEASE NDEBUG
