// SPDX-FileCopyrightText: AdGuard Software Limited
//
// SPDX-License-Identifier: GPL-3.0-or-later

//
//  ConfigMAS.xcconfig
//  AdguardMini
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "./CommonConfig.xcconfig"

AG_CHANNEL[config=Debug(MAS)] = debug_mas
AG_CHANNEL[config=MAS(IAP)] = mas_iap
AG_CHANNEL[config=MAS] = mas

AG_V_CHANNEL[config=MAS] =

AGP_HELPER_COMMON_REQ = entitlement["com.apple.developer.team-identifier"] = "$(AG_TEAM)" and info[CFBundleVersion] == "$(AG_BUILD)"
AG_HELPER_REQ[config=MAS] = anchor apple generic and ($(AGP_TESTFLIGHT_CERT_REQ) or $(AGP_MAS_CERT_REQ)) and $(AGP_HELPER_COMMON_REQ)

AG_HELPER_REQ[config=Debug(MAS)] = anchor apple generic and certificate leaf[subject.OU] = "$(AG_TEAM)"
AG_HELPER_REQ[config=MAS(IAP)] = anchor apple generic and certificate leaf[subject.OU] = "$(AG_TEAM)"

ADGUARD_DISTRIBUTION_TYPE = MAS
GCC_PREPROCESSOR_DEFINITIONS[config=MAS] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) RELEASE NDEBUG

GCC_PREPROCESSOR_DEFINITIONS[config=Debug(MAS)] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) DEBUG
GCC_PREPROCESSOR_DEFINITIONS[config=MAS(IAP)] = $(ADGUARD_GCC_PREPROCESSOR_DEFINITIONS) RELEASE NDEBUG

AG_APP_DISPLAYED_NAME[config=MAS(IAP)] = $(AG_APP_DISPLAYED_NAME) IAP
AGP_WEB_EXTENSION_DISPLAY_NAME[config=MAS(IAP)] = $(AGP_WEB_EXTENSION_DISPLAY_NAME) IAP
AGP_POPUP_EXTENSION_DISPLAY_NAME[config=MAS(IAP)] = $(AGP_POPUP_EXTENSION_DISPLAY_NAME) IAP
AGP_BLOCKER_GENERAL_DISPLAY_NAME[config=MAS(IAP)] = $(AGP_BLOCKER_GENERAL_DISPLAY_NAME) IAP
AGP_BLOCKER_PRIVACY_DISPLAY_NAME[config=MAS(IAP)] = $(AGP_BLOCKER_PRIVACY_DISPLAY_NAME) IAP
AGP_BLOCKER_SECURITY_DISPLAY_NAME[config=MAS(IAP)] = $(AGP_BLOCKER_SECURITY_DISPLAY_NAME) IAP
AGP_BLOCKER_SOCIAL_DISPLAY_NAME[config=MAS(IAP)] = $(AGP_BLOCKER_SOCIAL_DISPLAY_NAME) IAP
AGP_BLOCKER_OTHER_DISPLAY_NAME[config=MAS(IAP)] = $(AGP_BLOCKER_OTHER_DISPLAY_NAME) IAP
AGP_BLOCKER_CUSTOM_DISPLAY_NAME[config=MAS(IAP)] = $(AGP_BLOCKER_CUSTOM_DISPLAY_NAME) IAP
