/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.Tooltip {
    position: absolute;
    z-index: var(--z-index-above-extra);

    &_tooltip {
        padding: 8px 16px;
        font-size: 14px;
        background-color: var(--fills-menus-dropdown-menu-background-default);
        color: var(--text-main-text-main-default);
        border-radius: 5px;
        box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
    }
}
