/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.FilterGroup {
    &:last-of-type {
        margin-bottom: var(--m-s);
    }

    &_button {
        display: inline;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}