/*
 * SPDX-FileCopyrightText: AdGuard Software Limited
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
 
:root {
    --permanent-white: #FFFFFF;
    --permanent-black: #000000;
}

html:theme(light) {
    --scrollbar-color: morph(color(--permanent-black), opacity: 15%);
    --scrollbar-color-hover: morph(color(--permanent-black), opacity: 30%);
    --modal-background: rgba(0, 0, 0, 0.5); 
}

html:theme(dark) {
    --scrollbar-color: morph(color(--permanent-white), opacity: 15%);
    --scrollbar-color-hover: morph(color(--permanent-white), opacity: 30%);
    --modal-background: rgba(0, 0, 0, 0.75);
}
