/*
 * SPDX-FileCopyrightText: AdGuard Software Limited
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
 
html:theme(dark) {
    --stroke-icons-error-icon-default: #F67247;
    --stroke-icons-error-icon-hovered: #DF6740;
    --stroke-icons-error-icon-pressed: #B55434;
    --stroke-icons-error-icon-disabled: #5B2A1A;
    --stroke-icons-attention-icon-default: #D58500;
    --stroke-icons-attention-icon-disabled: #503200;
    --stroke-icons-product-icon-default: #67B279;
    --stroke-icons-product-icon-hovered: #589968;
    --stroke-icons-product-icon-pressed: #487C54;
    --stroke-icons-product-icon-disabled: #243E2A;
    --stroke-icons-white-icons-default: #FFFFFF;
    --stroke-icons-white-icons-disabled: #F6F6F6;
    --text-main-text-main-default: #E4E4E4;
    --text-main-text-main-disabled: #A4A4A4;
    --text-footer-footer-text-default: #FFFFFF;
    --text-footer-footer-text-disabled: #E4E4E4;
    --text-description-description-default: #D2D2D2;
    --text-description-description-disabled: #A4A4A4;
    --text-lables-labels-default: #D2D2D2;
    --text-lables-labels-disabled: #A4A4A4;
    --text-placeholder-placeholder-default: #A4A4A4;
    --text-placeholder-placeholder-disabled: #7F7F7F;
    --text-breadcrumbs-default: #A4A4A4;
    --stroke-dividers-item-divider-default: #5B5B5B;
    --stroke-dividers-item-divider-footer-default: #D2D2D2;
    --stroke-dividers-item-divider-disabled: #1F1F1F;
    --text-buttons-primary-default: #FFFFFF;
    --text-buttons-primary-disabled: #BBDDC3;
    --text-buttons-danger-primary-disabled: #FCCAB9;
    --fills-backgrounds-page-background-default: #1F1F1F;
    --fills-backgrounds-page-background-hovered: #3D3D3D;
    --text-buttons-attention-primary-disabled: #EFD19E;
    --fills-backgrounds-page-background-pressed: #5B5B5B;
    --fills-backgrounds-page-background-additional-default: #3D3D3D;
    --fills-backgrounds-page-background-additional-hovered: #5B5B5B;
    --fills-backgrounds-page-background-additional-pressed: #7F7F7F;
    --fills-backgrounds-dialog-background-default: #000000;
    --text-buttons-secondary-default: #E4E4E4;
    --text-buttons-secondary-disabled: #A4A4A4;
    --text-buttons-purchase-default: #3D3D3D;
    --text-buttons-purchase-disabled: #7F7F7F;
    --text-buttons-tertiary-default: #67B279;
    --text-buttons-tertiary-hovered: #589968;
    --text-buttons-tertiary-pressed: #487C54;
    --text-buttons-tertiary-disabled: #315439;
    --text-buttons-secondary-red-default: #F67247;
    --text-buttons-secondary-red-disabled: #7B3923;
    --text-buttons-secondary-green-default: #67B279;
    --text-buttons-secondary-green-disabled: #315439;
    --text-links-link-default: #67B279;
    --text-links-link-hovered: #589968;
    --text-links-link-pressed: #487C54;
    --fills-backgrounds-cards-background-default: #3D3D3D;
    --text-links-link-visited: #94C9A1;
    --fills-backgrounds-cards-background-hovered: #5B5B5B;
    --fills-backgrounds-cards-background-pressed: #7F7F7F;
    --text-links-link-disabled: #315439;
    --fills-backgrounds-footer-default: #3D3D3D;
    --text-links-attention-link-default: #D58500;
    --text-links-attention-link-hovered: #C47A00;
    --text-links-attention-link-pressed: #A06400;
    --text-links-attention-link-visited: #E6B564;
    --text-links-attention-link-disabled: #6C4300;
    --text-links-error-link-default: #F67247;
    --text-links-error-link-hovered: #DF6740;
    --text-links-error-link-pressed: #B55434;
    --text-links-error-link-visited: #FAA98F;
    --text-links-error-link-disabled: #7B3923;
    --text-links-additional-link-default: #A870B2;
    --text-links-additional-link-hovered: #9964A2;
    --text-links-additional-link-pressed: #8C5C94;
    --text-links-additional-link-visited: #795180;
    --text-links-additional-link-disabled: #614167;
    --fills-inputs-input-background-default: #3D3D3D;
    --fills-inputs-input-background-disabled: #3D3D3D;
    --fills-inputs-input-on-card-backgroung-default: #5B5B5B;
    --fills-inputs-input-on-card-backgroung-disabled: #5B5B5B;
    --fills-snacks-mobile-snacks-default: #000000;
    --fills-snacks-mobile-snacks-hover: #1F1F1F;
    --fills-snacks-mobile-snacks-pressed: #3D3D3D;
    --fills-snacks-desktop-snacks-default: #3D3D3D;
    --fills-snacks-desktop-snacks-hover: #5B5B5B;
    --fills-snacks-desktop-snacks-pressed: #7F7F7F;
    --fills-buttons-secondary-button-default: #1F1F1F;
    --fills-buttons-secondary-button-hovered: #3D3D3D;
    --fills-buttons-secondary-button-pressed: #5B5B5B;
    --fills-buttons-secondary-card-button-default: #3D3D3D;
    --fills-buttons-secondary-card-button-hovered: #5B5B5B;
    --fills-buttons-secondary-card-button-pressed: #7F7F7F;
    --fills-buttons-main-button-default: #67B279;
    --fills-buttons-main-button-default-inactive: #7F7F7F;
    --fills-buttons-main-button-hovered: #589968;
    --fills-buttons-main-button-pressed: #487C54;
    --fills-buttons-main-button-disabled: #315439;
    --fills-buttons-main-button-loader-disabled: #22482C;
    --fills-buttons-additional-button-default: #7884CB;
    --fills-buttons-additional-button-hovered: #6B76BD;
    --fills-buttons-additional-button-pressed: #5C67AE;
    --fills-buttons-additional-button-disabled: #424979;
    --fills-buttons-attention-button-default: #D58500;
    --fills-buttons-attention-button-hovered: #C47A00;
    --fills-buttons-attention-button-pressed: #A06400;
    --fills-buttons-attention-button-disabled: #6C4300;
    --fills-buttons-danger-button-default: #F67247;
    --fills-buttons-danger-button-hovered: #DF6740;
    --fills-buttons-danger-button-pressed: #B55434;
    --fills-buttons-danger-button-disabled: #7B3923;
    --stroke-dividers-item-divider-green-default: #67B279;
    --stroke-dividers-item-divider-orange-default: #D58500;
    --stroke-icons-gray-icons-default: #C0C0C0;
    --stroke-buttons-secondary-default: #E4E4E4;
    --stroke-buttons-secondary-disabled: #A4A4A4;
    --stroke-buttons-secondary-red-default: #F67247;
    --stroke-buttons-secondary-red-disabled: #7B3923;
    --stroke-buttons-secondary-green-default: #67B279;
    --stroke-buttons-secondary-green-disabled: #315439;
    --stroke-inputs-error-input-default: #F67247;
    --stroke-inputs-inactive-input-stroke-default: #5B5B5B;
    --stroke-inputs-inactive-input-stroke-disabled: #3D3D3D;
    --stroke-inputs-active-input-stroke-default: #A4A4A4;
    --text-toplines-topline-text-white: #FFFFFF;
    --text-user-rules-black-default: #E4E4E4;
    --fills-backgrounds-footer-mail-default: #3D3D3D;
    --fills-buttons-purchase-button-default: #EFD19E;
    --stroke-icons-gray-icons-disabled: #5B5B5B;
    --stroke-inputs-active-input-stroke-disabled: #3D3D3D;
    --text-user-rules-black-disabled: #A4A4A4;
    --stroke-icons-black-icons-default: #E4E4E4;
    --stroke-icons-black-icons-disabled: #A4A4A4;
    --text-toplines-topline-text-black: #E4E4E4;
    --text-user-rules-red-default: #F67247;
    --fills-buttons-purchase-button-hovered: #E6B564;
    --text-user-rules-red-disabled: #7B3923;
    --text-user-rules-blue-default: #7884CB;
    --fills-buttons-purchase-button-pressed: #DB9726;
    --text-user-rules-blue-disabled: #424979;
    --fills-buttons-purchase-button-disabled: #F9ECD8;
    --text-user-rules-purple-default: #A870B2;
    --text-user-rules-purple-disabled: #614167;
    --text-user-rules-green-default: #67B279;
    --text-user-rules-green-disabled: #315439;
    --text-user-rules-gray-default: #C0C0C0;
    --text-user-rules-gray-disabled: #7F7F7F;
    --fills-switch-android-switch-knob-on-default: #67B279;
    --fills-switch-android-switch-knob-on-disabled: #315439;
    --fills-switch-android-switch-knob-on-inactive: #D2D2D2;
    --fills-switch-android-switch-knob-on-inactive-disabled: #5B5B5B;
    --fills-switch-android-switch-knob-off-default: #A4A4A4;
    --fills-switch-android-switch-knob-off-disabled: #5B5B5B;
    --fills-switch-android-switch-plate-on-default: #3D6947;
    --fills-switch-android-switch-plate-on-disabled: #243E2A;
    --fills-switch-android-switch-plate-on-inactive: #5B5B5B;
    --fills-switch-android-switch-plate-on-inactive-disabled: #3D3D3D;
    --fills-switch-android-switch-plate-off-default: #5B5B5B;
    --fills-switch-android-switch-plate-off-disabled: #3D3D3D;
    --fills-logo-key-color-default: #F6F6F6;
    --fills-notifications-primary-default: #243E2A;
    --fills-notifications-primary-hovered: #315439;
    --fills-notifications-primary-pressed: #3D6947;
    --fills-notifications-orange-default: #503200;
    --fills-notifications-orange-hovered: #6C4300;
    --fills-notifications-orange-pressed: #875400;
    --fills-notifications-red-default: #5B2A1A;
    --fills-notifications-red-hovered: #7B3923;
    --fills-notifications-red-pressed: #99472C;
    --fills-system-android-system-bar-default: #3D3D3D;
    --fills-stats-primary-stat-default: #67B279;
    --fills-logo-white-color-default: #FFFFFF;
    --fills-toplines-topline-background-black: #000000;
    --fills-chips-blend-chip-default: #243E2A;
    --fills-notifications-attention-default: #503200;
    --fills-scroll-scroll-indicator-hovered: #7F7F7F;
    --fills-menus-dropdown-menu-background-default: #3D3D3D;
    --fills-scroll-scroll-indicator-default: #5B5B5B;
    --fills-chips-blend-chip-hovered: #315439;
    --fills-chips-blend-chip-pressed: #3D6947;
    --fills-chips-blend-chip-disabled: #3D3D3D;
    --tv-stats-green-stat-default: #67B279;
    --tv-snacks-snacks-default: #3D3D3D;
    --tv-card-card-default: #3D3D3D;
    --tv-text-buttons-text-default: #F6F6F6;
    --tv-tab-tab-selected: #243E2A;
    --tv-tab-tab-focused: #E4E4E4;
    --tv-stats-orange-stat-default: #D58500;
    --tv-stats-red-stat-default: #B55434;
    --tv-card-card-focused: #E4E4E4;
    --tv-text-buttons-text-selected: #E4F1E7;
    --tv-text-buttons-text-focused: #1F1F1F;
    --fills-backgrounds-recent-activity-request-base-default: #1F1F1F;
    --fills-backgrounds-recent-activity-request-base-pressed: #3D3D3D;
    --fills-backgrounds-recent-activity-request-minor-default: #3D3D3D;
    --fills-stats-primary-stat-disabled: #315439;
    --fills-stats-secondary-stat-default: #A870B2;
    --fills-backgrounds-recent-activity-request-minor-pressed: #5B5B5B;
    --fills-backgrounds-recent-activity-request-allowlisted-default: #243E2A;
    --fills-backgrounds-recent-activity-request-allowlisted-hovered: #315439;
    --fills-backgrounds-recent-activity-request-allowlisted-pressed: #3D6947;
    --fills-backgrounds-recent-activity-request-changed-default: #503200;
    --fills-backgrounds-recent-activity-request-changed-hovered: #6C4300;
    --fills-backgrounds-recent-activity-request-changed-pressed: #875400;
    --fills-backgrounds-recent-activity-request-blocked-default: #5B2A1A;
    --fills-backgrounds-recent-activity-request-blocked-hovered: #7B3923;
    --fills-backgrounds-recent-activity-request-blocked-pressed: #99472C;
    --fills-stats-secondary-stat-disabled: #614167;
    --fills-stats-tertiary-stat-default: #C0C0C0;
    --fills-stats-tertiary-stat-disabled: #5B5B5B;
    --fills-stats-red-stat-default: #F67247;
    --fills-stats-red-stat-disabled: #5B2A1A;
    --fills-stats-orange-stat-default: #D58500;
    --tv-text-links-error-default: #F67247;
    --tv-text-labels-label-default: #D2D2D2;
    --tv-text-placeholder-placeholder-default: #A4A4A4;
    --tv-snacks-snacks-disabled: #E4E4E4;
    --tv-text-placeholder-placeholder-disabled: #7F7F7F;
    --tv-text-labels-label-disabled: #A4A4A4;
    --tv-text-links-error-disabled: #FAA98F;
    --fills-stats-orange-stat-disabled: #503200;
    --tv-text-main-main-text-default: #F6F6F6;
    --tv-text-main-main-text-focused: #1F1F1F;
    --tv-text-buttons-text-disabled: #7F7F7F;
    --tv-text-card-text-card-default: #F6F6F6;
    --tv-text-card-text-card-focused: #1F1F1F;
    --fills-scale-scale-red: #F67247;
    --fills-scale-scale-green: #67B279;
    --fills-scale-scale-orange: #D58500;
    --tv-buttons-primary-button-default: #3D3D3D;
    --tv-buttons-primary-button-focused: #E4E4E4;
    --tv-buttons-secondary-button-stroke-default: #5B5B5B;
    --tv-buttons-seconadary-button-focused: #E4E4E4;
    --tv-buttons-primary-button-disabled: #3D3D3D;
    --tv-navigation-chips-chips-stroke-default: #5B5B5B;
    --tv-navigation-chips-navigation-fill-focused: #E4E4E4;
    --tv-navigation-chips-navigation-fill-selected: #243E2A;
    --fills-menus-dropdown-menu-background-hovered: #5B5B5B;
    --fills-backgrounds-popup-background-default: #1F1F1F;
    --fills-loaders-background-default: #5B5B5B;
    --fills-loaders-primary-default: #67B279;
    --fills-loaders-background-dark-default: #5B5B5B;
    --fills-stats-stats-background-default: #5B5B5B;
    --fills-menus-dropdown-menu-background-pressed: #7F7F7F;
    --stroke-icons-product-tertiary-icon-default: #7884CB;
    --stroke-icons-product-tertiary-icon-disabled: #303659;
    --stroke-icons-product-secondary-icon-default: #A870B2;
    --stroke-icons-product-secondary-icon-disabled: #47304C;
    --stroke-icons-product-quaternary-icon-default: #A3A88A;
    --stroke-icons-product-quaternary-icon-disabled: #38392F;
    --fills-cards-cards-background-tertiary-default: #303659;
    --fills-tooltip-background-default: #5B5B5B;
    --tv-icons-gray-default: #FFFFFF;
    --tv-background-fill: #1F1F1F;
    --tv-icons-gray-focused: #3D3D3D;
    --tv-background-pop-up-fill: #000000;
    --text-additional-tertiary-default: #7884CB;
    --text-additional-tertiary-disabled: #303659;
    --text-additional-quaternary-default: #A3A88A;
    --text-additional-quaternary-disabled: #38392F;
    --fills-switch-all-on-default: #67B279;
    --fills-switch-all-on-default-inactive: #A4A4A4;
    --fills-switch-all-on-hovered: #589968;
    --fills-switch-all-on-hovered-inactive: #7F7F7F;
    --fills-switch-all-on-disabled: #315439;
    --fills-switch-all-on-disabled-inactive: #5B5B5B;
    --fills-switch-all-off-default: #7F7F7F;
    --fills-switch-all-off-hovered: #5B5B5B;
    --fills-switch-all-off-default-inactive: #7F7F7F;
    --fills-switch-all-off-hovered-inactive: #5B5B5B;
    --fills-switch-all-off-disabled: #5B5B5B;
    --fills-switch-all-off-disabled-inactive: #5B5B5B;
    --fills-switch-all-knob-default: #FFFFFF;
    --fills-switch-all-knob-disabled: #A4A4A4;
    --tv-switch-switch-focused: #67B279;
    --tv-switch-switch-disabled-focused: #3D6947;
    --tv-switch-switch-default: #D2D2D2;
    --tv-switch-switch-disabled-default: #5B5B5B;
    --tv-badge-badge-green: #67B279;
    --tv-badge-badge-orange: #D58500;
    --tv-input-stroke-focused: #A4A4A4;
    --tv-input-stroke-inactive-default: #5B5B5B;
    --tv-input-stroke-inactive-disabled: #3D3D3D;
    --tv-input-stroke-inactive-error: #F67247;
    --tv-text-links-link-default: #67B279;
    --tv-text-links-link-disabled: #E4F1E7;
    --fills-logo-primary-color-default: #67B279;
    --fills-logo-secondary-color-default: #589968;
    --fills-logo-primary-color-disabled: #A4A4A4;
    --fills-logo-secondary-color-disabled: #7F7F7F;
    --tv-input-fill-background-default: #3D3D3D;
    --tv-input-fill-background-disabled: #1F1F1F;
    --tv-text-links-attention-default: #D58500;
    --tv-text-links-attention-disabled: #6C4300;
    --fills-toplines-topline-background-white: #3D3D3D;
}