/*
 * SPDX-FileCopyrightText: AdGuard Software Limited
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
 
#extended-header {
    position: fixed;
    top: 0;
    left: 0;
    width: *;
    height: 32px;
    flow: horizontal;
    margin: 0;
}

#extended-header window-buttons {
    display: block;
    flow: horizontal;
    width: max-content;
    height: *;
    margin-left: *;
}

#extended-header window-button {
    behavior: clickable;
    display: block;
    foreground-size: 12px;
    foreground-position: center;
    foreground-repeat: no-repeat;
    height: *;
    width: 38px;
    transition: background-color linear 0.1s;
    cursor: pointer;
}

#extended-header #window-minimize:hover {
    background: color(gray300);
}

#extended-header #window-close {
    /* foreground-image: url("./icons/light/icon-close.svg"); */
}

#extended-header #window-close:hover {
    /* foreground-image: url("./icons/dark/icon-close.svg"); */
    background: color(red-text-border);
}

#extended-header:theme(dark) #window-close {
    /* foreground-image: url("./icons/dark/icon-close.svg"); */
}

#extended-header #window-maximize {
    /* foreground-image: url("./icons/light/icon-maximize.svg"); */
    behavior: none;
    opacity: .5;
}

#extended-header:theme(dark) #window-maximize {
    /* foreground-image: url("./icons/dark/icon-maximize.svg"); */
}

#extended-header #window-minimize {
    /* foreground-image: url("./icons/light/icon-minimize.svg"); */
}

#extended-header:theme(dark) #window-minimize {
    /* foreground-image: url("./icons/dark/icon-minimize.svg"); */
}

@media platform == "OSX" {
    #extended-header window-buttons { display:none; }
    #extended-header window-caption { text-align:center; }
}
