/*
 * SPDX-FileCopyrightText: AdGuard Software Limited
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */
 
body {
    font: system;
    line-height: var(--lh-elem);
    color: var(--text-main-text-main-default);
    background-color: var(--fills-backgrounds-page-background-default);
    vertical-scrollbar: custom-vertical-scrollbar;
    horizontal-scrollbar: custom-horizontal-scrollbar;
}

@set custom-vertical-scrollbar {
    .prev {
        display: none;
    }

    .next {
        display: none;
    }

    .base,
    .next-page,
    .prev-page {
        background: transparent;
        border-left: 1px solid transparent;
    }

    .slider {
        background: var(--scrollbar-color);
        border-radius: 6px;
    }

    .base:disabled {
        background: transparent;
    }

    .slider:hover  {
        background: var(--scrollbar-color-hover);
        border-left:1px solid transparent;
    }

    .slider:active {
        background: var(--scrollbar-color-hover);
    }

    .base {
        width: 10px;
    }

    .corner {
        background: transparent;
    }
}

@set custom-horizontal-scrollbar {
    .prev {
        display:none;
    }

    .next {
        display:none;
    }

    .base,
    .next-page,
    .prev-page {
        background: transparent;
        border-left:1px solid transparent;
    }

    .slider {
        background: transparent;
    }

    .base:disabled {
        background: transparent;
    }

    .slider:hover  {
        background: transparent;
        border-left:1px solid transparent;
    }

    .slider:active {
        background: transparent;
    }

    .base {
        height: 0px;
    }

    .corner {
        background: transparent;
    }
}

textarea,
input {
    text-selection-background-color: var(--stroke-dividers-item-divider-default);
    text-selection-color: var(--text-main-text-main-default);
    text-selection-caret-color: var(--text-main-text-main-default);
}
