/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.content {
    padding-left: var(--m-s);
    padding-right: var(--m-s);
}

.bottomPadding {
    padding-bottom: var(--m-s);
}