/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.block {
    color: var(--text-links-error-link-default) !important;
}

.unblock {
    color: var(--fills-buttons-main-button-default) !important;
}

.custom {
    color: var(--text-description-description-default) !important;
}

.comment {
    color: var(--text-description-description-default) !important;
}

.muted {
    color: var(--stroke-icons-gray-icons-default) !important;
}