/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

/* The animation code */
@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

  /* The element to apply the animation to */
.Loader {
    color: var(--fills-buttons-main-button-default);
    animation-name: rotation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}