# SPDX-FileCopyrightText: AdGuard Software Limited
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
version: 2
deployment:
  name: AdGuard Mini for Mac beta
  source-plan: ADGMINI-BFP
release-naming:
  next-version-name: ${bamboo.inject.version}.${bamboo.inject.build_number}-beta
  applies-to-branches: true
environments:
- static.adguard.com_mac_mini_beta
static.adguard.com_mac_mini_beta:
  triggers: []
  tasks:
  - clean
  - checkout:
      repository: bamboo-deploy-publisher
      force-clean-build: 'false'
  - artifact-download:
      artifacts:
      - {}
  - script:
      interpreter: SHELL
      scripts:
      - |-
        #!/bin/bash

        set -ex
        ls -alt

        ./artifactory.sh mac-mini-beta
      description: Deploy to artifactory
  - script:
      interpreter: SHELL
      scripts:
      - |-
        #!/bin/bash

        set -ex
        ls -la

        ./deploy.sh mac-mini-beta
      description: Deploy to static
  final-tasks: []
  variables: {}
  requirements: !include common/standalone-deployment-requirements.yaml
  notifications:
  - events:
    - deployment-started-and-finished
    recipients:
    - webhook:
        name: Deploy webhook
        url: http://prod.jirahub.service.eu.consul/v1/webhook/bamboo?channel=adguard-mini-deploy
