# SPDX-FileCopyrightText: AdGuard Software Limited
#
# SPDX-License-Identifier: GPL-3.0-or-later

---
version: 2
deployment:
  name: AdGuard Mini for Mac MAS
  source-plan: ADGMINI-BFM
release-naming:
  next-version-name: ${bamboo.inject.version}.${bamboo.inject.build_number}-mas
  applies-to-branches: true
  auto-increment: false
  auto-increment-variables: []
environments:
- MAS
MAS:
  triggers:
  - build-success
  tasks:
  - clean
  - checkout:
      repository: sciter-adguard-mini
      path: main
      force-clean-build: 'true'
  - checkout:
      repository: sciter-adguard-mini-private
      path: adguard-mini-private
      force-clean-build: 'true'
  - artifact-download:
      artifacts:
      - destination: main/build/MAS
      description: Download release contents
  - script:
      interpreter: SHELL
      scripts:
      - ./bamboo-specs/scripts/configure.sh
      working-dir: main
      description: Configure
  - script:
      interpreter: SHELL
      scripts:
      - ./bamboo-specs/scripts/create_fastlane_env_and_keychain.sh "MAS"
      working-dir: main
      description: Create Fastlane environment and Local Keychain for Distribution certificate
  - script:
      interpreter: SHELL
      file: bamboo-specs/scripts/deploy_to_mas.sh
      working-dir: main
      description: Deploy to MAS
  variables: {}
  requirements: !include common/build-requirements.yaml
  notifications:
  - events:
    - deployment-started-and-finished
    recipients:
    - webhook:
        name: Deploy webhook
        url: http://prod.jirahub.service.eu.consul/v1/webhook/bamboo?channel=adguard-mini-deploy
