/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.ActivationFlowResultModal {
    &_image {
        margin-left: *;
        margin-right: *;
        width: 220px;
        height: 220px;
        margin-bottom: var(--m-s);
    }

    &_description {
        margin-bottom: var(--m-xxs);
    }

    &_children {
        padding-top: 0;
    }
}