/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.Filter {
    &_desc {
        color: var(--text-description-description-default);
    }

    &_link {
        cursor: pointer;
        text-decoration: underline;
    }
}