{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": 2020
    },
    "rules": {
        "import/no-extraneous-dependencies": 0,
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1
            }
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always",
                "functions": "never"
            }
        ],
        "no-useless-escape": "off",
        "no-param-reassign": "off",
        "wrap-iife": "off",
        "func-names": "off",
        "no-shadow": "off",
        "no-multi-spaces": [
            "error",
            {
                "ignoreEOLComments": true
            }
        ],
        "consistent-return": "off",
        "no-prototype-builtins": "off",
        "dot-notation": "off",
        "quote-props": "off",
        "no-continue": "off",
        "no-use-before-define": "off",
        "no-case-declarations": "off",
        "no-restricted-syntax": "off",
        "guard-for-in": "off",
        "prefer-rest-params": "off",
        "no-restricted-globals": "off",
        "default-case": "off",
        "strict": "off",
        "no-bitwise": "off",
        "no-underscore-dangle": "off",
        "max-len": [
            "error",
            {
                "code": 120
            }
        ],
        "arrow-body-style": "off",
        "import/prefer-default-export": "off"
    }
}
