AG_COPYRIGHT = Copyright © 2021 AdGuard Software Ltd. All rights reserved.
AG_NAME = AdGuard for Safari
AG_VERSION = 1.9.14
AG_BUILD = 155

AG_STANDALONE = false
AG_STANDALONE_BETA = false

AG_BUILD_ARCH=$(ARCHS)

AG_BUNDLEID = com.adguard.safari.AdGuard
AG_LOGIN_HELPER_BUNDLEID = $(AG_BUNDLEID).login-helper

AG_EXTENSION_BUNDLEID = $(AG_BUNDLEID).Extension
AG_BLOCKER_BUNDLEID = $(AG_BUNDLEID).BlockerExtension
AG_BLOCKER_PRIVACY_BUNDLEID = $(AG_BUNDLEID).BlockerPrivacy
AG_BLOCKER_SECURITY_BUNDLEID = $(AG_BUNDLEID).BlockerSecurity
AG_BLOCKER_SOCIAL_BUNDLEID = $(AG_BUNDLEID).BlockerSocial
AG_BLOCKER_OTHER_BUNDLEID = $(AG_BUNDLEID).BlockerOther
AG_BLOCKER_CUSTOM_BUNDLEID = $(AG_BUNDLEID).BlockerCustom
AG_ADVANCED_BLOCKING_BUNDLEID = $(AG_BUNDLEID).AdvancedBlocking

AG_SIGN = Developer ID Application: Adguard Software Limited (TC3Q7MAJXF)
AG_MAS_SIGN = Apple Distribution: Adguard Software Limited (TC3Q7MAJXF)

AG_GROUP = TC3Q7MAJXF.com.adguard.safari.AdGuard

GCC_PREPROCESSOR_DEFINITIONS = AG_GROUP=@\"$(AG_GROUP)\" AG_BUNDLEID=@\"$(AG_BUNDLEID)\" AG_EXTENSION_BUNDLEID=@\"$(AG_EXTENSION_BUNDLEID)\" AG_BLOCKER_BUNDLEID=@\"$(AG_BLOCKER_BUNDLEID)\"  AG_ADVANCED_BLOCKING_BUNDLEID=@\"$(AG_ADVANCED_BLOCKING_BUNDLEID)\" AG_BLOCKER_PRIVACY_BUNDLEID=@\"$(AG_BLOCKER_PRIVACY_BUNDLEID)\" AG_BLOCKER_SECURITY_BUNDLEID=@\"$(AG_BLOCKER_SECURITY_BUNDLEID)\" AG_BLOCKER_SOCIAL_BUNDLEID=@\"$(AG_BLOCKER_SOCIAL_BUNDLEID)\" AG_BLOCKER_OTHER_BUNDLEID=@\"$(AG_BLOCKER_OTHER_BUNDLEID)\" AG_BLOCKER_CUSTOM_BUNDLEID=@\"$(AG_BLOCKER_CUSTOM_BUNDLEID)\" AG_LOGIN_HELPER_BUNDLEID=@\"$(AG_LOGIN_HELPER_BUNDLEID)\"


AG_APP_ENT = ${SRCROOT}/AdGuard/AdGuard.entitlements
AG_ELECTRON_CHILD_ENT = ${SRCROOT}/AdGuard/ElectronChild.entitlements
AG_ELECTRON_LOGINHELPER_ENT = ${SRCROOT}/AdGuard/ElectronLoginItem.entitlements

AG_HIDE_EXEC_PREFIX = electron_
