//
//  Config.xcconfig
//  AdGuard
//
//  Created by Roman Sokolov on 13.08.2018.
//  Copyright © 2018 Adguard Software Ltd. All rights reserved.
//

AG_COPYRIGHT = Copyright © 2018 Adguard Software Ltd. All rights reserved.
AG_NAME = AdGuard for Safari
AG_VERSION = 1.0.0
AG_BUILD = 4

AG_BUNDLEID = com.adguard.safari.AdGuard
AG_EXTENSION_BUNDLEID = $(AG_BUNDLEID).Extension
AG_BLOCKER_BUNDLEID = $(AG_BUNDLEID).BlockerExtension

AG_SIGN = <YOUR APPLE DEVELOPER COMMON NAME>

AG_GROUP = TC3Q7MAJXF.com.adguard.safari.AdGuard


GCC_PREPROCESSOR_DEFINITIONS = AG_GROUP=@\"$(AG_GROUP)\" AG_BUNDLEID=@\"$(AG_BUNDLEID)\" AG_EXTENSION_BUNDLEID=@\"$(AG_EXTENSION_BUNDLEID)\" AG_BLOCKER_BUNDLEID=@\"$(AG_BLOCKER_BUNDLEID)\"


AG_APP_ENT = ${SRCROOT}/AdGuard/AdGuard.entitlements
AG_ELECTRON_CHILD_ENT = ${SRCROOT}/AdGuard/ElectronChild.entitlements
AG_ELECTRON_LOGINHELPER_ENT = ${SRCROOT}/AdGuard/ElectronLoginItem.entitlements
