#include "./Config.xcconfig"

AG_VERSION = 1.6.1
AG_BUILD = 27

AG_STANDALONE = true
AG_STANDALONE_BETA = true


AG_APP_ENT = ${SRCROOT}/AdGuard/standalone/AdGuard.entitlements
AG_ELECTRON_CHILD_ENT = ${SRCROOT}/AdGuard/standalone/ElectronChild.entitlements
AG_ELECTRON_LOGINHELPER_ENT = ${SRCROOT}/AdGuard/standalone/ElectronLoginItem.entitlements
