#include "./Config.xcconfig"

AG_VERSION = 1.8.7
AG_BUILD = 44

AG_STANDALONE = true
AG_STANDALONE_BETA = false

AG_APP_ENT = ${SRCROOT}/AdGuard/standalone/AdGuard.entitlements
AG_ELECTRON_CHILD_ENT = ${SRCROOT}/AdGuard/standalone/ElectronChild.entitlements
AG_ELECTRON_LOGINHELPER_ENT = ${SRCROOT}/AdGuard/standalone/ElectronLoginItem.entitlements
