<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>AppIcon</string>
			<key>CFBundleURLName</key>
			<string>$(AGP_INTERNAL_URL_SCHEME_ID)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(AG_INTERNAL_URL_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(AG_URL_ADGUARD_MINI_SCHEME_ID)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(AG_URL_ADGUARD_MINI_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>$(ADGUARD_APP_CAST_URL)</string>
	<key>SUPublicEDKey</key>
	<string>QJHVOSnToy0+O6rVFJ8wRrmsHVHY0M8y6OXPG6FmGkM=</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>$(AG_EXCHANGE_SETTINGS_FILE_CONFORMS_TO)</string>
			</array>
			<key>UTTypeDescription</key>
			<string>$(AG_EXCHANGE_SETTINGS_FILE_DESCRIPTION)</string>
			<key>UTTypeIconFile</key>
			<string>$(AG_EXCHANGE_SETTINGS_FILE_ICON_NAME)</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>$(AG_EXCHANGE_SETTINGS_FILE_ICON_TEXT)</string>
				<key>UTTypeIconBadgeName</key>
				<string>$(AG_EXCHANGE_SETTINGS_FILE_ICON_NAME)</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>$(AG_EXCHANGE_SETTINGS_FILE_ID)</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>$(AG_EXCHANGE_SETTINGS_FILE_EXTENSION)</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>LSUIElement</key>
	<false/>
</dict>
</plist>
