/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

html, body {
    border-radius: 8px;
    height: 582px;
    overflow: hidden;
    scroll: none;
}