/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.UnauthorizedUserNotification {
    margin-top: var(--m-s);
    
    &_description {
        padding: 0 var(--m-s);
        margin-bottom: var(--m-xxs);
    }

    &_button {
        &__submit {
            width: 296px;
        }

        &__outlined {
            width: 288px;
        }
    }
}