/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.RulesList {
    &_rule {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: *;
    }
}