<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
    <string>app-store</string>
    <key>teamID</key>
    <string>TC3Q7MAJXF</string>
    <key>destination</key>
    <string>upload</string>
    <key>uploadBitcode</key>
    <true/>
    <key>compileBitcode</key>
    <true/>
    <key>uploadSymbols</key>
    <true/>
    <key>signingStyle</key>
    <string>manual</string>
    <key>installerSigningCertificate</key>
    <string>3rd Party Mac Developer Installer: Adguard Software Limited (TC3Q7MAJXF)</string>
    <key>signingCertificate</key>
    <string>Mac App Distribution</string>
</dict>
</plist>
