body {
	background-color: #fff;
}
.button--green {
	background-color: #68bc86;
	color: #ffffff;
}
.button--orange {
	background-color: #eb9300;
	color: #fff;
}
.button--green:hover {
	background-color: #5ba575;
}
.button--transparent {
	box-shadow: 0 0 0 1px rgba(216, 216, 216, .7);
}
.button--transparent:hover {
	background-color: rgba(0, 0, 0, .05);
}
.button--link {
	color: #fff;
}
.button--simple {
	color: #4d4d4d !important;
}
.settings-actions__action-buttons .button--simple {
	color: #4d4d4d;
}
.button--simple:hover {
	color: #888888 !important;
}
.button--green-bd {
	color: #68bc86;
	box-shadow: inset 0 0 0 1px #68bc86;
}
.button--green-bd:hover {
	background-color: rgba(239, 239, 239, 0.5);
}
.back-btn {
	background-image: url(../images/arrow-dark.svg);
}
.filters-info {
	color: #4d4d4d;
}
.settings-wrap .page-title {
	color: #454545;
}
.settings-wrap .page-title .info {
	color: #4d4d4d;
}
.settings-content__desc {
	color: #4d4d4d;
}
.upd-wr {
	color: #888888;
}
.settings-body-subtitle {
	color: #4d4d4d;
}
.settings-sidebar {
	background-color: #fff;
}
.settings-sidebar .logo {
	background: url(../images/logo.svg) no-repeat
}
.settings-sidebar .nav span {
	color: #4D4D4D;
}
.settings-sidebar .nav a.active span:before {
	background-color: #68bc86;
}
.settings-content a {
	color: #4d4d4d;
}
.settings-content a:hover {
	color: #222222;
}
.settings-content .manage-account-btn {
	color: #ffffff;
}
.setting-desc {
	color: #767676;
}
.empty-filters__logo {
	background: url(../images/empty-filters.svg) no-repeat;
}
.filters-search input {
	border-bottom: 1px solid #E7E7E7;
}
.filters-search input:focus {
	border-bottom: 1px solid #cccccc;
}
.opts-list li {
	color: #4d4d4d;
	border-bottom: 1px solid #E7E7E7;
}
.opts-list li a:hover {
	color: #333333;
}
.opts-list li:hover:after {
	background-color: #eeeeee;
}
#general-settings .opts-list__item--arrow:before,
.opts-list__item--arrow a:before {
	background-image: url(../images/arrow-dark.svg);
}
.opts-list .opt-state.combo-opt:before {
	background: #E7E7E7;
}
.opts-list li:hover .opt-state.combo-opt:before {
	background: #cccccc;
}
.opts-list .opt-name .desc a {
	color: #4d4d4d;
}
.opts-list .opt-name .desc a:hover {
	color: #222222;
}
.warn-message {
	color: #e85037;
}
.opts-list li .warn-message{
	color: #D6D6D6;
}
.opts-list li a.button--green{
	color: #ffffff;
}
.opts-list li a.button--green.bd{
	color: #66b574;
}
.opts-list li.active .block__link{
	color: #66b574;
}
.opts-list li.active .warn-message{
	color: #e85037;
}
.opts-list li .opts-desc-filter {
	color: #777777;
}
.opts-list li .opts-desc-filter .title {
	color: #333333;
}
.settings-notification {
	background: #fff3df;
}
.settings-notification__title {
	color: #4d4d4d;
}
.settings-notification__text {
	color: #888888;
}
.block-type .block-type__desc .desc {
	color: #777777;
}
.block-type__desc-title {
	color: #333333;
}
.block-type__info-title {
	color: #4d4d4d;
}
.block-type__info-desc {
	color: #888;
}
.cb_warning {
	color: #9C1D00;
}
.cb_overlimit_warning {
	color: #9C1D00;
}
.desc--filters {
	color: rgba(77, 77, 77, 0.5);
}
.opts-list .opt-state .desc {
	color: #777777;
}
.opt-state__link:hover {
	color: #58a273;
}
.opts-list li .opt-state__link {
	color: #777777;
}
.opt-select {
	background-color: #F3F3F3;
	background-image: url(../images/arrow-down-dark.svg);
}
.opts-list li:hover .opt-select {
	background-color: #dddddd;
}
.toggler {
	background-color: #888888;
}
.toggler:before {
	background-color: #fff;
}
.toggler:after {
	background-color: #E7E7E7;
}
.toggler.on,
li.active .toggler {
	background-color: #66b574;
}
.toggler.off {
	background-color: #888888;
}
.settings-footer .btn-rate {
	color: #6a6a6a;
	border: 2px solid #D1D1D1;
}
.settings-footer .copy {
	color: #fff;
}
.settings-footer .rate-row {
	background-color: #F7F7F7;
}
.settings-footer .rate-row .text {
	color: #505050;
}
.settings-footer .links-row {
	background-color: #787878;
}
.settings-footer .links-row a {
	color: rgba(255, 255, 255, 0.83);
}
.user-rules {
	border: 1px solid #EDEDED;
}
.tabs-bar .tab {
	color: #4d4d4d;
}
.tabs-bar .tab.active:after {
	background-color: #66b574;
}
.btn-inline-arrow {
	color: #66b574;
}
.settings-actions .button--link {
	color: #fff;
}
.settings-actions .button--green-bd {
	color: #66b574;
}
.dropdown {
	background-color: #ffffff;
	box-shadow: 1px 1px 5px 0 rgba(192, 193, 193, .5);
}
.dropdown__item--active {
	color: #68bc86;
	background-color: rgba(102, 181, 116, .15);
}
.settings-form {
	box-shadow: 0 -1px 0 0 rgba(216, 216, 216, .7);
}
.settings-form__input {
	box-shadow: 0 1px 0 0 rgba(216, 216, 216, .7);
}
.settings-checkboxes__checkbox:checked + .settings-checkboxes__label:before{
	background-color: #66b574;
}
.settings-checkboxes__label:before {
	background-color: rgba(216, 216, 216, .7);
}
.filter-rules {
	box-shadow: inset -10px 0 0 0 #f0f0f0;
}
.filter-rules textarea {
	background-color: #fff;
}
.filter-download__header-logo{
	background: url(../images/logo.svg) no-repeat;
}
.settings-page.downloading .sp-lists-user-descr:first-child {
	color: #333;
}
.settings-page.downloading .sp-lists-user-descr {
	color: #999;
}
.option-popup {
	background-color: rgba(0, 0, 0, .1);
}
.option-popup__title {
	color: #777777;
}
.option-popup__in {
	background-color: #fff;
}
.option-popup__input {
	border-bottom: 2px solid #66b574 !important;
}
.option-popup__desc {
	color: rgba(27, 27, 27, 0.9);
}
.option-popup__desc--filter {
	color: rgb(136, 136, 136);
}
.option-popup__table-cell {
	color: rgb(77, 77, 77);
}
.option-popup__cross {
	filter: brightness(.3);
}
.opt-name__tag:after {
	color: #fff;
	text-shadow: 0 -1px 2px rgba(162, 161, 161, .3);
}
.opt-name__tag:before {
	color:  rgba(77, 77, 77, 0.82);
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 10px 1px rgba(162, 161, 161, 0.3);
	box-shadow: 0 0 10px 1px rgba(162, 161, 161, 0.3);
}
.opts-list li .remove-custom-filter-button {
	color: #df3812;
}
.try-premium__title {
	color: #4d4d4d;
}
.try-premium__btn {
	color: #fff;
	background-color: #F5A623;
}
.try-premium:hover .try-premium__btn {
	background-color: #d89019;
}
.alert {
	background-color: #ffffff;
}
.alert--warning {
	background-color: #F3F3F3;
	color: #9C1D00;
}
.alert__link {
	color: #66b574;
}
.support .block-type__desc-title {
	color: #333333;
}
.support .description {
	color: #777777;
}
.about-opt__version,
.about-opt_title {
	color: #4d4d4d;
}
.about-opt__desc {
	color: #4d4d4d;
}
.about-opt__logo {
	background: url(../images/logo.svg) no-repeat;
}
.about-btn {
	color: #4d4d4d;
}
.about-btn:hover {
	color: #222222;
}
.about-updates {
	color: #333333;
}
.onboarding {
	background-color: #fff;
}
.settings-content .settings-content__save-btn {
	color: #fff;
}
.onboarding__pic {
	background-image: url("../images/help_info.jpg");
	background-size: cover;
}
.onboarding__tooltip {
	background: #fff;
	color: #444444;
}
.onboarding__title,
.onboarding__desc{
	color: #444444;
}
.onboarding__link {
	border-bottom: 1px dotted #5ba575;
	color: #66b574;
}
.onboarding__tooltip__title {
	color: #68bc86;
}

.settings-notification__close {
	background-image: url("data:image/svg+xml,%3Csvg width='24px' height='24px' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3E3FBDDA07-F278-4437-A840-5EEE66257C6D@1x%3C/title%3E%3Cg id='Atoms' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='round' stroke-linejoin='round'%3E%3Cg id='_Icons/_Main-(24)/cross' stroke='%234d4d4d' stroke-width='1.5'%3E%3Cpath d='M6.42857143,6.42857143 L17.604347,17.604347 M6.42857143,17.5714286 L17.604347,6.39565302' id='Combined-Shape'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
