/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.PayedFuncsTitle {
    &_button {
        display: inline;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
}
