/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.AppUsageDataModal {
    &_content {
        text-align: left;

        &_margin{
            margin-bottom: var(--m-m);
        }

        &_list {
            >li {
                padding-left: 8px;
            }
        }
    }
}
