/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.ProgressBar {
    box-sizing: content-box;
    width: *;
    margin: var(--m-m) var(--m-s);
    position: relative;
    z-index: 5;

    flow: horizontal;

    &_close {
        margin-left: var(--m-xxs);
        z-index: 5;
    }
}
