/* 
    SPDX-FileCopyrightText: AdGuard Software Limited
    SPDX-License-Identifier: GPL-3.0-or-later
*/

.ImportModal {
    &_content {
        height: 28px;
    }

    &_checkbox {
        margin-top: 6px;

        &_label {
            margin-top: 0;
        }
    }
}
